{% extends 'base.html' %}


{% block main %}
    <div class="col-sm-8 blog-main">

        <div class="blog-post">
            <h2 class="blog-post-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
            <p class="blog-post-meta">{{ article.date.strftime('%Y-%m-%d %H:%M:%S') }} by <a
                    href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></p>
            <p class="blog-post-meta">{{ category }}</p>

            <p>{{ article.summary }}</p>
            <hr>
            {{ article.content }}
        </div><!-- /.blog-post -->

        {% include 'plugins/baidu.share.html' with context %}
{#        {% include 'duoshuo.share.html' with context %}#}

        {#        {% include 'gentie.163.html' %}#}

        {% include 'plugins/duoshuo.comment.html' with context %}


    </div><!-- /.blog-main -->
{% endblock %}

