<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>{{ SITENAME }}</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="{{ SITEURL }}/theme/css/blog.css" rel="stylesheet">

</head>
<body>

{% include 'github.html' %}

{% block masthead %}

    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item" href="/">Home</a>
                <a class="blog-nav-item active" href="{{ SITEURL }}/">Blog</a>
                <a class="blog-nav-item" href="{{ SITEURL }}/archives.html">Archives</a>
{#                {% for page in pages %}#}
{#                    <a class="blog-nav-item" href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>#}
{#                {% endfor %}#}
            </nav>
        </div>
    </div>
{% endblock %}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title"><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
        <p class="lead blog-description">{{ SITESUBTITLE }}</p>
    </div>

    <div class="row">

        {% block main %}{% endblock %}

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

            {% include 'about.html' %}
            {% include 'categories.html' %}
            {% include 'tags.html' %}
            {% include 'elsewhere.html' %}

        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->

{% include 'footer.html' %}

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>