{% extends 'base.html' %}

{% block masthead %}

    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item" href="{{ SITEURL }}">Home</a>
                <a class="blog-nav-item" href="{{ SITEURL }}/archives.html">Archives</a>
                {% for p in pages %}
                    {% if p == page %}
                        <a class="blog-nav-item active" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                    {% else %}
                        <a class="blog-nav-item" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                    {% endif %}
                {% endfor %}
            </nav>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="col-sm-8 blog-main">

        <div class="blog-post">
            <h2 class="blog-post-title"><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></h2>
            <p class="blog-post-meta">{{ page.date.strftime('%Y-%m-%d %H:%M:%S') }} by <a
                    href="{{ SITEURL }}/{{ page.author.url }}">{{ page.author }}</a></p>

            <p>{{ page.summary }}</p>
            <hr>
            {{ page.content }}
        </div><!-- /.blog-post -->

        <!-- duoshuo share -->
        <div class="ds-share flat" data-thread-key="{{ page.slug }}" data-title="{{ page.title }}" data-images="{{ page.url }}" data-content="{{ page.content }}" data-url="{{ page.url }}">
    <div class="ds-share-inline">
      <ul  class="ds-share-icons-16">

      	<li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>
        <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">微博</a></li>
        <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">QQ空间</a></li>
        <li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt">腾讯微博</a></li>
        <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>

      </ul>
      <div class="ds-share-icons-more">
      </div>
    </div>
 </div>


        {#        {% include 'gentie.163.html' %}#}

        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="{{ page.slug }}" data-title="{{ page.title }}"
             data-url="{{ page.url }}"></div>
        <!-- 多说评论框 end -->
        {% include 'duoshuo.comment.html' %}

    </div><!-- /.blog-main -->
{% endblock %}

