{% extends 'base.html' %}


{% block main %}
    <div class="col-sm-8 blog-main">
        {% for article in articles %}
            <div class="blog-post">
                <h2 class="blog-post-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                <p class="blog-post-meta">
                    {{ article.date.strftime('%Y-%m-%d %H:%M:%S') }} by <a
                        href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a><br/>
                    Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                    Tags:
                    {% for tag in article.tags %}
                        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                    {% endfor %}
                </p>

                <p>{{ article.summary }}</p>
                <hr>
            </div><!-- /.blog-post -->

        {% endfor %}

        <nav>
            <ul class="pager">
                <li><a href="#">Previous</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </nav>

    </div><!-- /.blog-main -->
{% endblock %}

